@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Balsamiq Sans, sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 50px;
  letter-spacing: 5px;
  color: #4d1cd2;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
<<<<<<< HEAD
  margin: 10px 20%;
=======
  margin: 10 30%;
>>>>>>> a23e62e83f4de021852b0da366f98f03ea4a8d4f
}

.image-container img {
  width: 100%;
<<<<<<< HEAD
  margin-top: 5px;
}

/* Media Query */
@media screen and (max-width: 800px) {
  .image-container {
    margin: 10px;
  }

  h1 {
    font-size: 30px;
=======
  margin-top: 10px;
}

/* Media Query */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px;
>>>>>>> a23e62e83f4de021852b0da366f98f03ea4a8d4f
  }
}
